<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <!-- <h3>Create a listing</h3> -->
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Enter title">
        <br>
        <textarea name="listing[description]" placeholder="Enter Description"></textarea>
        <br>
        <input name="listing[image]" placeholder="Enter Image URL/Link">
        <br>
        <input name="listing[price]" placeholder="Enter price">
        <br>
        <input name="listing[location]" placeholder="Enter Location">
        <br>
        <input name="listing[country]" placeholder="Enter Country">
        <br>
        <button>Submit </button>

    </form>
    
</body>
</html>