<% layout("layout/boilerplate") -%>

<div class="row mt-3">
  <h3 class="col-6 offset-3">SignUp on Wanderlust</h3>
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      
      <div class="mb-3">
        <label for="username" class="form-label"><h5>Username</h5></label>
        <input name="username" id="username" type="text" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label"><h5>Email</h5></label>
        <input name="email" id="email" type="text" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label"><h5>Password</h5></label>
        <input name="password" id="password" type="password" class="form-control" required>
      </div>

      <button class="btn btn-primary">SignUp</button>
    </form>
  </div>
</div>
